<form id="frm-search" role="search">
  <fieldset>
    {{input
      aria-label="movie title"
      id="input-movie-title"
      name="search movie title"
      placeholder="Search movie title..."
      type="text"
      value=movieTitle}}
    <button id="btn-search" class="button" type="submit" name="button" {{action "onSearchMovie" movieTitle}}>Search</button>
  </fieldset>
</form>
