{{search-bar
  onSearchMovie=(route-action "onSearchMovie")}}

{{#if model.movieSearchResults}}
  <section class="search-results-wrapper">
    <h2 class="title">Search Results</h2>

    <ul class="movie-search-results-list">
      {{#each model.movieSearchResults as |movieSearchResult|}}
        <li>{{movieSearchResult.name}}</li>
      {{/each}}
    </ul>
  </section>
{{/if}}
